<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attendance System</title>
    <link rel="stylesheet" href="../static/index.css">
</head>
<body>
    <h1>Attendance System</h1>

    <div class="form-container">
        <h2>Add Student</h2>
        <form id="add-student-form">
            <label for="student-name">Student Name:</label>
            <input type="text" id="student-name" name="student-name" required>
            <label for="student-photo">Student Photo (JPG):</label>
            <input type="file" id="student-photo" name="student-photo" accept=".jpg" required>
            <button type="submit">Add Student</button>
        </form>
    </div>

    <div class="form-container">
        <h2>Mark Attendance</h2>
        <button id="mark-attendance" onclick="markAttendance()">Mark Attendance</button>
        
    </div>

    <div class="form-container">
        <h2>Attendance Records</h2>
        <button id="fetch-attendance">Fetch Attendance</button>
        <table id="attendance-table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Student Name</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <div class="form-container">
        <h2>Erase Attendance Records</h2>
        <button type="submit", id="clear-table">Erase Attendance Records</button>
    </div>
    <div id ="camera_frame" class="form-container">
        <h2>Camera</h2>
        <video  autoplay="true" id="videoElement"></video>
    </div>
    <script>
        async function clearTable() {
            const response = await fetch("/clear_attendance", { method: "POST" });
            const data = await response.json();

            if (data.result === "success") {
                alert("Attendance table has been cleared.");
            } else {
                alert("Failed to clear the attendance table.");
            }
        }

        document.getElementById('add-student-form').addEventListener('submit', function(event) {
            event.preventDefault();

            const studentName = document.getElementById('student-name').value;
            const studentPhoto = document.getElementById('student-photo').files[0];

            const formData = new FormData();
            formData.append('student_name', studentName);
            formData.append('student_photo', studentPhoto);

            fetch('/add_student', {
                method: 'POST',
                body: formData
            }).then(response => response.json())
            .then(data => {
                if (data.result === 'success') {
                    alert('Student added successfully');
                } else {
                    alert('Error adding student');
                }
            });
        });

        async function setupCamera() {
            const video = document.querySelector("#videoElement");
            
            if (navigator.mediaDevices.getUserMedia) {
                try {
                const stream = await navigator.mediaDevices.getUserMedia({ video: true });
                video.srcObject = stream;
                } catch (error) {
                console.error("Error: Unable to access the camera.", error);
                }
            } else {
                console.error("Error: getUserMedia not supported.");
            }
        }
        window.addEventListener('load', (event) => {
            setupCamera();
        });

        async function captureImage() {
            return new Promise((resolve) => {
                const video = document.getElementById('videoElement');
                const tempCanvas = document.createElement('canvas');
                tempCanvas.width = video.videoWidth;
                tempCanvas.height = video.videoHeight;
                const tempCtx = tempCanvas.getContext('2d');
                tempCtx.drawImage(video, 0, 0);
                const dataURL = tempCanvas.toDataURL('image/jpeg');
                resolve(dataURL);
            });
        }

        async function markAttendance() {
            const imageDataURL = await captureImage();

            // Create a FormData object and append the image data
            const formData = new FormData();
            formData.append('image_data', imageDataURL);

            fetch('/mark_attendance', {
                method: 'POST',
                body: formData,
            })
                .then((response) => response.json())
                .then((data) => {
                console.log(data);
                })
                .catch((error) => {
                console.error('Error:', error);
                });
        }

        document.getElementById("clear-table").addEventListener("click", clearTable);

        document.getElementById('fetch-attendance').addEventListener('click', function() {
            fetch('/get_attendance')
                .then(response => response.json())
                .then(data => {
                    const tableBody = document.getElementById('attendance-table').getElementsByTagName('tbody')[0];
                    tableBody.innerHTML = '';

                    for (const record of data) {
                        const row = tableBody.insertRow();

                        const dateCell = row.insertCell();
                        dateCell.textContent = record.date;

                        const nameCell = row.insertCell();
                        nameCell.textContent = record.student_name;

                        const statusCell = row.insertCell();
                        statusCell.textContent = record.status;
                    }
                });
        });
    </script>
</body>
</html>

